$list-width: 600px;
$item-height: 44px;
$border-color: #CCCCCC;
$text-color: #000000;

html, body, p {
  margin: 0;
  padding: 0;
  font: 100% Roboto, sans-serif;
  font-weight: 300;
  color: $text-color;
}

.salesList {
  width: $list-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid $border-color;
  padding: 10px;
}

.listItem {
  height: $item-height;
  width: $list-width;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.indNumber {
  height: $item-height - 4px;
  width: $item-height - 4px;
  margin: 0 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: ($item-height - 4px) / 2;
  background-color: #9BCA3C;
  color: white;
  font-size: 24;
}

.content {
  height: 44px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid $border-color;
}

.title {
  font-size: 16px;
  margin-bottom: 30;
}

.medText {
  font-size: 14px;
  margin-bottom: 4px;
}

.smallText {
  font-size: 10px;
}
